# Forskjeller

Her ser vi på utvalgte ord og tegnsetting som en forskjell mellom skjønnlitteratur og sakprosa

In [6]:
import dhlab.nbtext as nb
import dhlab.module_update as mu
import pandas as pd

In [3]:
mu.css()

## Testkorpus

Sampler noen verk fra tiårene 1970 til 2000. 300 fra dewey 839 og så litt fra andre dewey kategorier.

In [4]:
romaner = nb.book_corpus(ddk = "839%", limit = 300)

In [7]:
sakprosa = pd.concat([nb.book_corpus(ddk = str(x) + '%', limit = 30) for x in range(0,9,1) if x != 8 ])

Vi teller opp ordene i begge korpus

In [10]:
sagprosa_agg = nb.aggregate_urns(list(sakprosa.urn))

In [12]:
romaner_agg = nb.aggregate_urns(list(romaner.urn))

og legger dem i en dataramme

In [18]:
combo = pd.concat([nb.frame(romaner_agg, 'skjønnlitt'), nb.frame(sagprosa_agg, 'sakprosa')], axis = 1, sort=False).dropna()

datarammen kan vi så sette opp for å sjekke forholdet mellom bruk av tegn og ord

In [19]:
combo

    skjønnlitt  sakprosa
!      48969.0   14664.0
"      11512.0   30963.0
#        269.0     639.0
$        184.0     494.0
%        556.0    4309.0
..         ...       ...
►         11.0     298.0
▼          3.0     136.0
★         20.0      18.0
♦         43.0     166.0
✓          7.0      28.0

[154673 rows x 2 columns]

In [20]:
combo['ratio'] = combo['skjønnlitt']/combo['sakprosa']

Lager grupper av tegn og ord

In [22]:
punktuering = """. , ! " ' ? : ; -""".split()

In [23]:
pronomen = "vi oss de dem han ham hans hun henne hennes du deg jeg meg".split()

In [28]:
interjeksjoner = "ja nei jo vel aha åh javel".split()

Så ser vi på fordelingen i kolonnen _ratio_

Først pronomen

In [24]:
combo.loc[pronomen]

        skjønnlitt  sakprosa      ratio
vi         37689.0   36522.0   1.031953
oss        14169.0   10483.0   1.351617
de         90722.0   71404.0   1.270545
dem        25622.0   13159.0   1.947108
han       163166.0   37771.0   4.319875
ham        42942.0    8865.0   4.843993
hans       24410.0    8063.0   3.027409
hun       100811.0    9718.0  10.373637
henne      37207.0    3210.0  11.590966
hennes     15899.0    1546.0  10.283959
du         62974.0   27978.0   2.250840
deg        21763.0    8942.0   2.433796
jeg       119143.0   28766.0   4.141799
meg        49147.0   10926.0   4.498170

Så punktuering

In [25]:
combo.loc[punktuering]

   skjønnlitt  sakprosa     ratio
.    836707.0  638971.0  1.309460
,    694308.0  525781.0  1.320527
!     48969.0   14664.0  3.339403
"     11512.0   30963.0  0.371799
'     20616.0   30937.0  0.666387
?     99133.0  120423.0  0.823207
:     55472.0   77847.0  0.712577
;     21678.0   24059.0  0.901035
-    119928.0  145664.0  0.823319

Og til slutt interjeksjoner

In [29]:
combo.loc[interjeksjoner]

       skjønnlitt  sakprosa      ratio
ja         5286.0    1401.0   3.773019
nei        3052.0     643.0   4.746501
jo        14389.0    3217.0   4.472801
vel       12423.0    4052.0   3.065893
aha           8.0       3.0   2.666667
åh           77.0       2.0  38.500000
javel        56.0       6.0   9.333333